@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

:root {
    --background: #17191C;
    --light: #C4C4C4;
    --dark: #000;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--light);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body.active{
    overflow-y: hidden;
    -webkit-transition: overflow-y .2s ease-in-out;
    transition: overflow-y .2s ease-in-out;
}

.hnav-list {
    display: none;
}

#hamburger {
    display: none;
}

.title {
    font-size: 24px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: var(--light);
}

@media screen and (max-width: 768px) {
    .margin {
        margin: 20px 0;
    }
    .title {
        font-size: 24px;
        font-weight: 500;
        color: white;
        margin: 20px 0;
    }
    .mw {
        width: 90%;
        margin: 0 auto;
    }
    .separator{
        width: 100%;
        height: 2px;
        background: #fff;
        margin: 30px 0;
        background: #06f;
        
        -webkit-box-shadow: 0 0 20px #06f;
        box-shadow: 0 0 20px #06f;
    }
    .medium-font{
        font-weight: 500;
    }
    .blue{
        color: #06f;
    }
    header{
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        z-index: 3;
    }
    nav {
        width: 90%;
        height: 50px;
        background: #fff;
        border-radius: 12px;
        margin: 0 auto;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(0,0,0,.7);
    }

    /*        logo        */
    .logo {
        color: var(--dark);
        font-weight: 500;
        text-align: center;
    }

    .logo-top {
        font-size: 24px;
    }

    .logo-bottom {
        font-size: 14px;
    }

    /*        hamburger        */
    #hamburger {
        width: 40px;
        height: 32px;
        cursor: pointer;

        position: absolute;
        right: 7%;
        top: 10px;
        z-index: 2;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #hamburger.active{
        pointer-events: none;
    }
    #hamburger span {
        display: block;
        background: var(--dark);
        height: 7px;
        border-radius: 8px;
        width: 7px;
    }
    .nav-list {
        display: none;
    }
    #hamburger-menu{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: -20px;
        left: 0;
        background: #000;
        z-index: 1;
        
        pointer-events: none;
        opacity: 0;
    }
    #hamburger-menu.active{
        pointer-events: all;
        opacity: 1;
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
    }
    .hnav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        
        height: 100%;
        list-style: none;
        text-align: center;
        padding: 20px 0;
    }
    .hnav-list li a{
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
    }
    .hnav-list li a:hover{
        color: #06f;
    }

    .wecanhelp-img {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0.3))), url(img/main-img.jpg);
        background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.3) 100%), url(img/main-img.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 190px;
        position: absolute;
        z-index: -10;
    }

    .wch {
        height: 190px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .wch .title {
        color: white;
        font-weight: 500;
        font-size: 24px;
        margin: 0;
    }
    
    .info-img1,
    .info-img2,
    .info-img3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        color: white;
        width: 100%;
        height: 90px;
        -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7);
    }

    .info-img1 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0))), url(img/mobile.jpg);
        background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%), url(img/mobile.jpg);
        background-size: cover;
        background-position: center;
    }
    .info-img2 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.6)), to(rgba(0, 0, 0, 0))), url(img/laptop.jpg);
        background-image: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0, 0, 0, 0) 100%), url(img/laptop.jpg);
        background-size: cover;
        background-position: center;
    }
    .info-img3 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0))), url(img/pc.jpg);
        background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%), url(img/pc.jpg);
        background-size: cover;
        background-position: center;
    }
    .info-text p{
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    .info p.title{
        font-size: 18px;
        text-align: center;
        margin: 0;
    }
    iframe{
        width: 100%;
        height: 350px;
        margin: 10px 0;
    }
    #about-us p{
        padding: 10px 0;
        text-align: center;
    }
    #comments{
        color: white;
    }
}
