@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap');

:root {
    --background: #17191C;
    --light: #C4C4C4;
    --dark: #000;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--light);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.hnav-list {
    display: none;
}

#hamburger {
    display: none;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .margin {
        margin: 20px 0;
    }
    .title {
        font-size: 24px;
        font-weight: 500;
        color: white;
        margin: 20px 0;
    }
    .mw {
        width: 90%;
        margin: 0 auto;
    }
    /*section{
        margin-bottom: 10px;
    }*/
    .medium-font{
        font-weight: 500;
    }

    nav {
        width: 90%;
        height: 50px;
        background: #fff;
        border-radius: 12px;
        margin: 0 auto;
        position: relative;
    }

    /*        logo        */
    .logo {
        color: var(--dark);
        font-weight: 500;
        text-align: center;
    }

    .logo-top {
        font-size: 24px;
    }

    .logo-bottom {
        font-size: 14px;
    }

    /*        hamburger        */
    #hamburger {
        width: 40px;
        height: 40px;

        position: absolute;
        right: 2%;
        top: 5px;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #hamburger span {
        background: var(--dark);
        height: 4px;
        display: block;
        border-radius: 8px;
    }

    .h-s1 {
        width: 40px;
    }

    .h-s2 {
        width: 30px;
    }

    .h-s3 {
        width: 35px;
    }

    .nav-list {
        display: none;
    }

    .hnav-list {
        display: none;
    }

    .wecanhelp-img {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0.3))), url(img/main-img.jpg);
        background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.3) 100%), url(img/main-img.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 190px;
        position: absolute;
        z-index: -10;
    }

    .wch {
        height: 190px;
        text-align: center;
    }

    .wch .title {
        color: white;
        font-weight: 500;
        font-size: 24px;
        margin: 0;
    }

    .wch p {
        padding: 15px 30px;
    }

    .info-img1,
    .info-img2,
    .info-img3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        color: white;
        width: 100%;
        height: 90px;
        -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7);
    }

    .info-img1 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0))), url(img/mobile.jpg);
        background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%), url(img/mobile.jpg);
        background-size: cover;
        background-position: center;
    }
    .info-img2 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.6)), to(rgba(0, 0, 0, 0))), url(img/laptop.jpg);
        background-image: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0, 0, 0, 0) 100%), url(img/laptop.jpg);
        background-size: cover;
        background-position: center;
    }
    .info-img3 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0))), url(img/pc.jpg);
        background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%), url(img/pc.jpg);
        background-size: cover;
        background-position: center;
    }
    .info-text p{
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    .info p.title{
        font-size: 18px;
    }
    iframe{
        width: 100%;
        height: 350px;
        margin: 10px 0;
    }
    #about-us p{
        padding: 10px 0;
    }
}
